body{
font-family:Poppins;
margin:0;
background:#f5f3ef;
color:#333;
}

.hero{
height:100vh;
background:url("https://images.unsplash.com/photo-1509042239860-f550ce710b93");
background-size:cover;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
color:white;
text-align:center;
}

.btn{
background:#6b3e26;
color:white;
padding:15px 30px;
text-decoration:none;
border-radius:5px;
}

.section{
padding:80px 10%;
text-align:center;
}

.dark{
background:#2f1b12;
color:white;
}

.product{
display:flex;
gap:20px;
justify-content:center;
}

.card{
background:white;
padding:30px;
border-radius:10px;
width:200px;
}

.benefits{
list-style:none;
font-size:20px;
}

.reviews{
display:flex;
gap:20px;
justify-content:center;
}

.review{
background:#eee;
padding:20px;
border-radius:10px;
}

.price{
font-size:40px;
}

.old{
text-decoration:line-through;
color:gray;
}

.new{
color:#ffb347;
}

.final{
padding:100px;
background:#6b3e26;
color:white;
text-align:center;
}

footer{
text-align:center;
padding:20px;
}
